@import "mixins.scss";
#contenttitle_Image1 {	@include elemTop(10);
}
#contenttitle_Image1 {	@include elemLeft(1300);
}
#contenttitle_Image1 {	@include elemAutoWidth(60);
}
#contenttitle_Image1 {	@include elemAutoHeight(60);
}
#contenttitle_Image1 {	z-index: 0;
}
#contenttitle_Image1 {	background-color: rgba(105, 105, 105, 1);
}
#contenttitle_Image1 {	border-style: none;
}
#contenttitle_Image1 {	border-width: 0px;
}
#contenttitle_Image1 {	border-color: rgba(1, 1, 1, 1);
}
#contenttitle_Image1 {	@include border-radius(50px);
}
#contenttitle_Image2 {	@include elemTop(8);
}
#contenttitle_Image2 {	@include elemLeft(50);
}
#contenttitle_Image2 {	@include elemAutoWidth(300);
}
#contenttitle_Image2 {	@include elemAutoHeight(60);
}
#contenttitle_Image2 {	z-index: 1;
}
#contenttitle_Image2 {	background-color: rgba(144, 238, 144, 1);
}
#contenttitle_Image2 {	border-width: 0px;
}
#contenttitle_Image2 {	@include border-radius(15px);
}
#contenttitle_DateTimeOutput1 {	@include elemAutoHeight(30);
}
#contenttitle_DateTimeOutput1 {	@include elemTop(10);
}
#contenttitle_DateTimeOutput1 {	@include elemLeft(1060);
}
#contenttitle_DateTimeOutput1 {	@include elemAutoWidth(220);
}
#contenttitle_DateTimeOutput1 {	z-index: 2;
}
#contenttitle_DateTimeOutput1 {	font-family: Arial Unicode;
}
#contenttitle_DateTimeOutput1 {	font-size: 20px;
}
#contenttitle_LoginInfo1 {	@include elemAutoWidth(120);
}
#contenttitle_LoginInfo1 {	@include elemAutoHeight(30);
}
#contenttitle_LoginInfo1 {	@include elemTop(40);
}
#contenttitle_LoginInfo1 {	@include elemLeft(1160);
}
#contenttitle_LoginInfo1 {	z-index: 3;
}
#contenttitle_Image3 {	@include elemTop(10);
}
#contenttitle_Image3 {	@include elemLeft(1400);
}
#contenttitle_Image3 {	@include elemAutoWidth(80);
}
#contenttitle_Image3 {	@include elemAutoHeight(60);
}
#contenttitle_Image3 {	z-index: 4;
}
